
body {
    background-color: #b0bec5;
    font-size: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    max-width: 1200px;
  }

  header {
    background-image: url(./darya-tryfanava-eZbWq_48oBw-unsplash_2.jpg);
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 185px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
  }

  h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 26px;
  }

  h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
  }


  nav {
    display: flex;
    background-color: #fff;
    padding: 0 42px;
  }
  ul.menu {
    margin-left: auto;
    list-style: none;
    display: flex;
    height: 72px;
    align-items: flex-end;
    align-self: flex-end;
  }

  ul.menu > li {
    display: flex;
  }

  ul.menu > li > a {
    color: #000;
    font-size: 16px;
    padding: 12px;
  }
  ul.menu > li > a:hover {
    color: blue;
    transition: color ease-out .2s;
  }

  footer {
    padding: 0 42px;
    padding-top: 46px;
  }

  /* grid setup */
  /* @supports (display: grid) { */
    main {
      background-color: #fff;
      padding: 24px 42px;
      max-width: 1200px;
      margin: auto;
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr, .7fr, 1fr)); */
      grid-template-columns: 1fr .75fr 1fr;
      /* grid-template-rows: repeat(auto-fit, minmax(265px, 1fr)); */
      grid-gap: 32px;
    }

    main .col {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  /* } */
