
body {
    background-color: #2190f34d;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
  }

  header {
    background-image: url(./darya-tryfanava-eZbWq_48oBw-unsplash_2.jpg);
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 185px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
  }

  header h1 {
    padding: 24px 0 0 24px;
  }

  footer {
    padding-top: 46px;
  }

  /* grid setup */
  /* @supports (display: grid) { */
    /* autoprefixer: off */
    main {
      padding: 24px;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr, .7fr, 1fr)); */
      grid-template-columns: 1fr .75fr 1fr;
      /* grid-template-rows: repeat(auto-fit, minmax(265px, 1fr)); */
      grid-gap: 32px;
    }

    main .col {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  /* } */
